$font: 'Roboto', sans-serif;
$font-titulo: 'Nunito', sans-serif;

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
body{
    min-height: 100vh;
    color: #0B0C12;
    background: #FAFCFF;
}
img{
    display: block;
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 144rem;
    margin: 0 auto;
    height: 100%;
}