.footer {
  color: $color--b1;
  background: $color--p2;
  &-box {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 6rem;
    padding: 6rem 0;
    margin: 0 5%;
  }
  &__redes {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1.5rem;
    grid-column: 1/-1;
  }
  &__conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    .linha {
      position: absolute;
    }
    &-list {
      display: grid;
      grid-template-rows: auto repeat(5, auto);
      gap: 1.5rem;
      h3 {
        font-weight: 800;
        font-size: 2rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
        font-family: $font-titulo;
        text-transform: uppercase;
      }
      a,
      p {
        font-size: 1.7rem;
        color: $color--b2;
      }
    }
    &-info {
      display: grid;
      grid-template-columns: auto 1fr;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      img {
        justify-self: center;
        height: 3rem;
        width: 3rem;
      }
    }
  }
  .redes {
    display: flex;
    gap: 2rem;
    img {
      height: 4.5rem;
      width: 4.5rem;
    }
  }
  &__logo {
    width: 18rem;
    height: auto;
  }
}
