.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 10;
  background: $color--b1;
  box-shadow: 0 0.5rem 0.2rem -0.2rem rgba(11, 12, 18, 0.2);
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 var(--mg-lados);
  }
  &__nav {
    &-list {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.6rem;
      a {
        padding: 1rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        position: relative;
        font-family: $font-titulo;
        text-transform: uppercase;
        color: $color--p2;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          height: 0.3rem;
          transition: 0.3s;
          transform: translateX(-50%);
          background: $color--r2;
        }
        &:hover {
          color: $color--r2;
          &::after {
            width: calc(100% - 1.5rem);
          }
        }
      }
      button {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        padding: 1.3rem 2.6rem;
        border-radius: 3rem;
        cursor: pointer;
        background: none;
        font-weight: bold;
        transition: 0.2s;
        font-family: $font-titulo;
        text-transform: uppercase;
        color: $color--r2;
        border: 0.15rem solid $color--r2;
        &:hover {
          color: $color--b1;
          background-color: $color--r2;
        }
      }
    }
  }
}

.mobile-menu {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}
.mobile-menu span {
  display: block;
  height: 0.5rem;
  margin: 0.6rem;
  border-radius: 0.5rem;
  width: 3.6rem;
  background: $color--p2;
}
