.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 10;
  background: $color--b1;
  box-shadow: 0 0.5rem 0.2rem -0.2rem rgba(11, 12, 18, 0.2);
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    height: 100%;
  }
  &__nav {
    &-list {
      display: flex;
      align-items: center;
      gap: 3rem;
      font-size: 1.5rem;
      a {
        letter-spacing: 0.1rem;
        font-weight: bold;
        font-family: $font-titulo;
        text-transform: uppercase;
        color: $color--p2;
      }
      button {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        padding: 1.3rem 2.6rem;
        border-radius: 3rem;
        cursor: pointer;
        background: none;
        font-weight: bold;
        font-family: $font-titulo;
        text-transform: uppercase;
        color: $color--r2;
        border: 0.15rem solid $color--r2;
      }
    }
  }
}
