.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  margin: 0 5%;
  padding-top: 7rem;
  &__conteudo {
    h1 {
      font-family: $font-titulo;
      font-size: 5.8rem;
      line-height: 1.2;
      font-weight: 600;
      letter-spacing: -0.1rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 3rem;
      color: #474d59;
      line-height: 1.5;
      font-weight: 400;
      margin-bottom: 5rem;
    }
  }
  &__detalhe {
    position: absolute;
    top: -0.8rem;
    right: -4.5rem;
    width: 4.5rem;
    height: 4.5rem;
  }
  &__img {
    width: 58rem;
    height: calc(100vh - 7.5rem);
    max-height: 70rem;
    object-fit: cover;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
}
.roxo {
  position: relative;
  color: #6619b3;
  font-family: $font-titulo;
}
.main__btn {
  font-size: 2rem;
  padding: 2rem 5.5rem;
  border-radius: 3rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #6619b3;
  border: none;
  color: #fafcff;
  box-shadow: 0 0.4rem 0.2rem rgba(102, 25, 179, 0.25);
}

.sobre {
  margin: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  padding: 14rem 0;
  &__img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    &-cachorro {
      height: 50rem;
      width: auto;
      grid-column: 1/3;
      grid-row: 1/3;
      border-left: 0.3rem solid #fafcff;
      border-top: 0.3rem solid #fafcff;
      border-radius: 3rem;
      &:hover {
        z-index: 1;
      }
    }
    &-gato {
      height: 30rem;
      width: auto;
      grid-column: 2/4;
      grid-row: 2/3;
      border-left: 0.3rem solid #fafcff;
      border-top: 0.3rem solid #fafcff;
      border-radius: 3rem;
    }
  }
  &__conteudo {
    h2 {
      font-family: $font-titulo;
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 2rem;
      color: #474d59;
      line-height: 1.5;
      margin-bottom: 0.5rem;
      &:nth-child(3) {
        margin-bottom: 4rem;
      }
    }
  }
  &__detalhe {
    font-family: $font-titulo;
    position: relative;
    img {
      position: absolute;
      top: -0.8rem;
      right: -3.1rem;
    }
  }
}

.informacoes {
  background-color: #0b0c12;
  &-box {
    display: flex;
    flex-wrap: wrap;
    gap: 12rem;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
    margin: 0 5%;
    color: #fafcff;
  }
  &__card {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    text-align: center;
    gap: 2rem;
    p {
      font-size: 2rem;
    }
    .roxo {
      color: #b675ff;
      font-size: 3rem;
    }
    img {
      width: 9rem;
      height: auto;
    }
  }
}

.servicos {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0 5%;
  padding: 14rem 0;
  gap: 8rem;
  &__conteudo {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 2rem;
  }
  &__titulo {
    text-align: center;
    h2 {
      font-size: 4rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 2.2rem;
      max-width: 85ch;
      line-height: 1.3;
      margin: 0 auto;
      color: #474d59;
    }
  }
  &__detalhe {
    position: relative;
    img {
      position: absolute;
      top: -1.4rem;
      left: -3.1rem;
    }
  }
  &__card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2.5rem;
    font-size: 1.8rem;
    border-radius: 3rem;
    padding: 3rem 4.5rem;
    max-width: 53rem;
    color: #474d59;
    background-color: #e6eaf0;
    border: 0.1rem solid #6619b3;
    h3 {
      font-size: 2.4rem;
      margin-bottom: 1rem;
      color: #0b0c12;
    }
    p {
      line-height: 1.5;
    }
  }
}

.depoimentos {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;
  gap: 9rem;
  margin: 0 5%;
  padding: 6rem;
  border-radius: 3rem;
  background-color: #6619b3;
  &__titulo {
    text-align: center;
    color: #fafcff;
    h2 {
      font-family: $font-titulo;
      font-size: 4rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 2rem;
      max-width: 70ch;
      margin: 0 auto;
      line-height: 1.3;
    }
  }
  &__detalhe {
    font-family: $font-titulo;
    position: relative;
    img {
      position: absolute;
      top: -0.8rem;
      right: -3.1rem;
    }
  }
  &__conteudo {
    display: grid;
    grid-template-rows: auto auto;
    gap: 5rem;
    justify-items: center;
  }
  &__slider {
    display: flex;
    gap: 3rem;
    &-circulo {
      display: flex;
      gap: 2rem;
      & span {
        display: inline-block;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 10rem;
        background-color: #fff896;
      }
      & .circulo-um {
        background-color: #ff8308;
      }
    }
  }
  &__card {
    display: flex;
    gap: 3rem;
    border-radius: 3rem;
    padding: 2rem 3rem;
    background: #fafcff;
    box-shadow: 0 0.5rem 0.2rem -0.2rem rgba(11, 12, 18, 0.2);
    &-conteudo {
      font-size: 2rem;
      h4 {
        font-size: 1.8rem;
        margin-bottom: 1.3rem;
        color: #ff8308;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.5;
        margin-bottom: 3rem;
      }
    }
  }
  &__pessoa {
    width: 18rem;
    height: 18rem;
    border-radius: 3rem;
  }
}

.atendimento {
  margin: 24rem 5% 10rem;
  padding: 0 6rem;
  border-radius: 3rem;
  background-color: #0b0c12;
  &-box {
    display: flex;
    justify-content: space-between;
  }
  &__conteudo {
    margin: 3rem 0;
    border-radius: 3rem;
    padding: 3rem 5rem;
    color: #fafcff;
    background: #6619b3;
    h2 {
      font-size: 4rem;
    }
    .linha {
      display: block;
      width: 100%;
      margin-top: 1rem;
      height: 0.5rem;
      border-radius: 3rem;
      background: #fafcff;
    }
  }
  &__imagem {
    margin-top: -14rem;
    img {
      width: 32rem;
      height: auto;
    }
  }
  &__horario {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    font-size: 2.2rem;
    & p:last-child {
      font-size: 2.6rem;
      font-weight: bold;
    }
  }
}
